header {
    width:100vw;
    height: 90px;
    background-color: $main_color;

    .container {
        height: 100%;

        .row {
            width: 100%;
            height: 100%;
        }

        nav {
            width: 100%;
            height: 100%;

            a.navbar-brand {
                height: 100%;
                display: flex;
                align-items: center;
            }

            img {
                width: 120px;
            }

            button.navbar-toggler {
                border-color: #fff;
                outline: none;
            }

            .navbar-collapse {
                flex-grow: 0;
            }

            .modal-menu {
                position: absolute;
                width: 100%;
                top: 90px;
                z-index: 10;

                ul {
                    background-color: $main_color;
                    width: auto;
                    height: 120px;

                    .header-logout {

                        @include my-button(
                            transparent,
                            #fff,
                            transparent,
                            transparent,
                            #fff
                        );

                        &:hover a {
                            color: #fff;
                        }
                    }
                }
            }


            ul{
                width: 350px;

                li {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        font-weight: 700;
                        font-size: 0.9rem;
                        color: #fff;
                        text-transform: uppercase;
                        padding: 0px;
                    }
                }

                .header-logout,
                .header-login,
                .header-signup {

                    padding: 5px 20px;
                    cursor: pointer;

                    @include my-button(
                        #fff,
                        #fff,
                        transparent,
                        #fff,
                        $main_color
                    );

                    &:hover a {
                        color: $main_color;
                    }
                }

                .header-login {
                    margin-right: 30px;
                }
            }
        }
    }
}

