.home-wrapper{
    width: 100%;
    margin-top: 80px;
}
.home{
    height: 500px;
    width: 95%;
    position: relative;
}
.home-img img{
    position: relative;
    width: 100%;
    height: 500px;
}
.home-search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #22B4CE;
    width: 518px;
    height: 71px;
    display: flex;
    align-items: center;
    input{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 485px;
        height: 40px;
        border:none;
        padding-left: 15px;
    }
}

.icon i{
    position: absolute;
    right: 18px;
    top: 29px;
    color: white;
    background-color: #22B4CE;
    width: 39px;
    height: 38px;
    margin-top: -12px;
    padding-left: 9px;
    padding-top: 10px;
}

.title{
    width: 95%;
    margin-top: 70px;
    h1{
        color:#22B4CE;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: bold;
    }
    hr{
        border: 1px solid #22B4CE;
        margin-bottom: 0;
    }
}

.apartment-description{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}
.apartment {
    margin-top: 30px;
}

.description-apartment p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.apartment-img{
    width: 100%;
    height: 200px;
    position: relative;
}
.apartment-img img{
    height: 200px;
    width: 322px;
    object-fit: cover;
}
.apartment-img p{
    position: absolute;
    bottom: -9px;
    right: 16px;
    color:white;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000;
}
.description-apartment{
    margin-top: 10px;
    margin-left: 2px;
}
.btn-color{
    color:#22B4CE;
    border-color: #22B4CE;
}
.btn-color:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: #22B4CE;
    color: #22B4CE;
}
.btn-color:focus{
    background-color: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    background-color:rgba(0, 0, 0, 0) ;
    border-color: #22B4CE;
    color: #22B4CE;
    box-shadow: none;
    outline: none;
}


@media screen and (max-width: 765px) {
    .apartment-description, .secondo-appartamento {
        display: inline;
    }
    .apartment{
        display: contents;
        margin-top: 25px;
    }
    .title{
        width: 100%;
        margin-top: 150px;
    }
    .home{
        display: contents;
    }
    .home-img img{
        width: 500px;
        height: 300px;
    }
    .home-search{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #22B4CE;
        width: 495px;
        height: 71px;
        display: flex;
        align-items: center;
        margin-top: 99px;
    }

    .home-search input{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 463px;
        height: 40px;
        border: none;
        padding-left: 15px;
    }
    .btn-color{
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 477px){
    .apartment-description, .secondo-appartamento {
        display: inline;
    }
    .apartment, .apartment-due, .apartment-tre{
        display: contents;
    }
    .description-apartment{
        display: flex;
        flex-direction: column;
    }
    .title{
        width: 100%;
        margin-top: 150px;
    }
    .home{
        display: contents;
    }
    .home-search{
        margin-top: 194px;
        width: 329px;
    }
    .home-search input{
        width: 300px;
    }
    .icon i{
        position: absolute;
        right: 15px;
        top: 29px;
        color: white;
        background-color: #22B4CE;
        width: 39px;
        height: 38px;
        margin-top: -12px;
        padding-left: 9px;
        padding-top: 10px;
    }
    .btn-color{
        margin-bottom: 25px;
    }
}


@media screen and (min-width: 668px){
    .apartment-img img{
        width: 100%;
    }
}
@media screen and(max-width: 375px){
    .apartment-img img{
        width: 100%;
    }
    .home-search{
        margin-top: 126px;
    }
}
@media screen and(max-width: 360px){
    .apartment-img img{
        width: 100%;
    }
    .home-search{
        margin-top: 206px;
    }
}
@media screen and(max-width: 414px){
    .apartment-img img{
        width: 100%;
    }
    .btn-color{
        margin-bottom: 25px;
    }
}
/*** IPHONE 5/SE ******/
@media screen and (max-width: 320px){
    .home-search{
        margin-top: 248px;
        width: 295px;
    }
    .home-search input{
        width: 267px;
    }
    .btn-color{
        margin-bottom: 25px;
    }
}
