body {
    height: 100vh;
    // background-color: #f2f2f2;
}

div#app {
    height: 100%;
}

main.py-4 {
    padding: 90px 0px 90px 0px !important;
    min-height: calc(100% - 150px - 90px);
}


a {
    color: #111;
    text-decoration: none;

    &:hover {
        color: #111;
        text-decoration: none;
    }
}


// * * * STILE .CARD-UPR CLASS * * *

.card-upr {
    transition: 300ms;
    padding: 15px 15px 25px 15px;
    height: auto;
    background-color: #e6fbff;
    border: 10px solid #fff;

    &:hover {
        box-shadow: 0px 0px 40px 0px #0004;
        color: #111;
        text-decoration: none;
        cursor: pointer;
        transform: scale(1.02);
        z-index: 10;
        border-color: #e6fbff;
    }

    img {
        width: 100%;
        height: clamp(180px, 20vh, 300px);
        object-fit: cover;
    }

    h1 {
        @include my-overflow-clamp(2);
        height: 60px;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 15px 0px;
    }

    p {
        @include my-overflow-clamp(3);
    }

    div.sponsored p {
        color: $main_color;
        margin: 10px 0px 0px 0px;
    }

    .sevices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: $main_color;
        margin-top: 15px;
    }

    .fas {
        margin-right: 5px;
    }
}

.card-upr.card-upr-sponsored {
    background-color: #fff;
    border-color: #e6fbff;

    &:hover {
        border-color: #fff;
    }
}
