@mixin my-button($border-color, $font-color, $bg-color, $hover-bg-color, $hover-font-color) {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    color: $font-color;
    border-radius: 0px;
    padding: 5px 20px;
    background-color: $bg-color;
    transition: 200ms;

    &:hover {
        background-color: $hover-bg-color;
        color: $hover-font-color;
    }
}

@mixin my-overflow-clamp($line-clamp){

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
}
