.home-wrapper{
    width: 100%;

    .home {
        width: 100%;
        height: 500px;
        background-image: url('../img/house-1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay {
        width: 100%;
        height: 100%;
        background-color: #0008;
        position: absolute;
    }


    .title{
        width: 100%;
        margin-top: 70px;
        h1{
            color:$main_color;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: bold;
        }
        hr{
            border: 1px solid $main_color;
            margin-bottom: 0;
        }
    }

    .apartment-description{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .apartment {
        margin-top: 30px;
    }

    .description-apartment h2{
        font-size: 23px;
        height: 71px;
        margin-top: 19px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .description-apartment p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 71px;
    }
    .apartment-img{
        width: 100%;
        height: 200px;
        position: relative;
    }
    .apartment-img img{
        height: 200px;
        width: 322px;
        object-fit: cover;
    }
    .apartment-img p{
        position: absolute;
        bottom: -9px;
        right: 32px;
        color:white;
        text-shadow: 0 0 5px #000000, 0 0 5px #000000;
    }
    .description-apartment{
        margin-top: 10px;
        margin-left: 2px;
    }
    .btn-color{
        // color:#22B4CE;
        border-color: $main_color;
    }
    
    .btn-color:hover{
        background-color: $main_color;
        border-color: $main_color;
        color: white;
    }
    .btn-color:focus{
        background-color: rgba(0,0,0,0);
        outline: none;
        box-shadow: none;
    }
    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
        background-color:rgba(0, 0, 0, 0) ;
        border-color: $main_color;
        color: $main_color;
        box-shadow: none;
        outline: none;
    }
}
