div.my-home-title {

    span {

        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.8rem;
            font-weight: 700;
            color: $main_color;
        }

        a {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            transition: 200ms;
            border: 2px dashed #eee;
            color: $main_color;

            &:hover {
                transform: scale(1.2);
            }

            .fas {
                margin: auto;
                font-size: 0.9rem;
            }
        }
    }

    hr {
        border-color: $main_color;
    }
}





// * * * STILE DELLE CARDS IN PARTIALS/COMMONS.SCSS

.card-upr-index {
    height: clamp(620px, 55vh, 750px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-my-homes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    a, button {
        margin-bottom: 5px;
        cursor: pointer;
    }

    a.btn-blue {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include my-button(
            $main_color,
            #fff,
            $main_color,
            #fff,
            $main_color
        )
    }

    a.btn-white {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include my-button(
            $main_color,
            $main_color,
            #fff,
            $main_color,
            #fff
        )
    }
}

                    /*** BTN DELETE ***/

#btnDelete{
    width: 150px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-color: $main_color;
    border-radius: 0px;
    padding: 5px 20px;
    background-color: white;
    transition: 200ms;
    // margin-top: -12px;
    color: $main_color;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
    }
    &:hover {
        background-color: $main_color;
        color: white;
    }
}


                   /*** PAGINA CREATE DI UPR/INDEX ***/

#form-create {

    #btnUpload {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 700;
        border-width: 1px;
        border-style: solid;
        border-color: $main_color;
        border-radius: 0px;
        padding: 5px 20px;
        background-color: $main_color;
        transition: 200ms;
        margin-top: -12px;
        color:white;
        &:focus{
            box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0); 
        }
    }

    label.error {
        font-size: 0.9rem;
        color: #c90000;
        margin-top: 3px;
    }
    .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 46px;
    margin-left: 0;
    }
}



                 /*** PAGINA EDIT DI UPR/INDEX ***/


#form-edit{

    #btnEdit:hover{
        background-color: $main_color;
        outline: none;
        border-color: $main_color;
    }
    #btnEdit:active{
        background-color: $main_color;
        border-color: $main_color;
    }
    #btnEdit:focus{
        background-color: $main_color;
        border-color: $main_color;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
    }
    label.error {
        font-size: 0.9rem;
        color: darkred;
        margin-top: 3px;
    }
}




a.create-house {
    color: $main_color;
    width: 100%;
    height: clamp(620px, 55vh, 750px);
    // border: 2px dashed #d7d7d7;
    display: flex;
    transition: 200ms;
    outline: none;
    text-decoration: none;

    &:hover {
        box-shadow: 0px 0px 40px 0px #0002;
        transform: scale(1.01);
        border: none;
    }


    div {
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 50%;
        display: flex;
        transition: 200ms;
        border: 2px dashed #eee;

        &:hover {
            transform: scale(1.2);
        }

        .fas {
            margin: auto;
            font-size: 1.3rem;
        }

    }
}

.btn {
    font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 700;
        border-width: 1px;
        border-style: solid;
        border-color: #22B4CE;
        color: #fff;
        border-radius: 0px;
        padding: 5px 20px;
        background-color: #22B4CE;
        transition: 200ms;
        // margin-top: -12px;
}
