div.my-home-title {

    h1 {
        font-size: 1.8rem;
        font-weight: 700;
        color: $main_color;
    }

    hr {
        border-color: $main_color;
    }
}

.card-upr {

    margin-bottom: 70px;
    transition: 200ms;
    padding: 15px;

    &:hover {
        box-shadow: 0px 0px 40px 0px #0003;
    }
    // & > div {
    //     padding: 30px;
    //     border-left: 1px solid $main_color;
    //     border-bottom: 1px solid $main_color;
    //     border-right: 1px solid $main_color;
    // }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    a {
        color: #111;
    }

    h1 {
        height: 60px;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 30px 0px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .button-my-homes {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        a {
            margin-bottom: 10px;
            cursor: pointer;
        }

        a.btn-blue {
            @include my-button(
                $main_color,
                #fff,
                $main_color,
                #fff,
                $main_color
            )
        }

        a.btn-white {
            @include my-button(
                $main_color,
                #main_color,
                #fff,
                $main_color,
                #fff
            )
        }
    }
}

a.create-house {
    color: $main_color;
    width: 100%;
    height: 350px;
    border: 2px dashed #eee;
    display: flex;
    transition: 200ms;
    outline: none;
    text-decoration: none;

    &:hover {
        box-shadow: 0px 0px 40px 0px #0003;
    }


    div {
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 50%;
        display: flex;
        transition: 200ms;
        border: 2px dashed #eee;

        &:hover {
            transform: scale(1.2);
        }

        .fas {
            margin: auto;
            font-size: 1.3rem;
        }

    }
}
.btn{
    font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 700;
        border-width: 1px;
        border-style: solid;
        border-color: #22B4CE;
        color: #fff;
        border-radius: 0px;
        padding: 5px 20px;
        background-color: #22B4CE;
        transition: 200ms;
        margin-top: -12px;
}
