.your-messages{
    width: 100%;
    margin-top: -51px;
}
.title{
    background-color: white;
    width: 100%;
    h1{
        font-size: 1.8rem;
        font-weight: 700;
        color: $main_color;
   }
}

.users-message{
    width: 100%;
    display: flex;
}
.messages{
    margin-top: 22px;
}

.message{
    // height: 170px;
    margin-top: 13px;
    border:1px solid black;
    padding-top: 8px;
    cursor:pointer;
    padding-left: 25px;
    padding-right: 25px;
    a{
        margin-top: 10px;
        color: black;
        font-weight: bold;
        &:hover{
            text-decoration: none;
        }

    }
    p{
        margin-top: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.visible{
    background-color: #B8F0F5;
    cursor: pointer;
}
.hidden{
    display: none;
}
.time{
    margin-left: 148px;
}
.description{
    background-color: white;
    width: 100%;
    display: none;
    padding-top: 30px;
    p{
        margin-top: 20px;
    }
}
.active{
    display: block;
}
.email-time {
    display: flex;
    justify-content: space-between;
    a{
        color:#333333;
        text-decoration: none;
        &:hover{
        text-decoration: none;
        }
    }
}

// @media screen and (max-width: 477px){
//
//     .description-message{
//         display: none;
//     }
//     .hidden{
//         display: block;
//         color:#22B4CE;
//         text-transform: uppercase;
//         font-weight: bold;
//         font-size: 22px;
//     }
//     .message{
//         height: 200px;
//     }
// }
// @media screen and (max-width: 986px){
//
//     .description-message{
//         display: none;
//     }
//     .hidden{
//         display: block;
//         color:#22B4CE;
//         text-transform: uppercase;
//         font-weight: bold;
//         font-size: 22px;
//     }
//     .message{
//         height: 200px;
//         margin-top: 20px;
//     }
// }
// @media screen and (min-width: 320px){
//     .message{
//         margin-top: 7px;
//         height: 215px;
//     }
// }
@media screen and (max-width: 360px){
    .message{
        width: 315px;
        p{
            margin-top: 15px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: inherit;
        }
    }
    .description-message{
        display: none;
    }

}
@media screen and(min-width:361px)and (max-width: 991px){
    .message p{
        margin-top: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: inherit;
    }
    .description-message{
        display: none;
    }
}
@media screen and (max-width: 320px){
    .message{
        width: 280px;
    }
}
