.your-messages{
    width: 100%;
    margin-top: 70px;
    height: 900px;
}
.title{
    background-color: white;
    width: 100%;
    h1{
       color:#22B4CE;
   }
   hr{
       border: 1px solid #22B4CE;
   }
}

.users-message{
    width: 100%;
    display: flex;
}
.messages{
    margin-left: -13px;
    height: 100%;
    margin-top: 31px;
}
.hidden{
    display: none;
}

.description-message{
    height: 100%;
}
.message{
    height: 170px;
    border:1px solid black;
    padding-top: 8px;
    cursor:pointer;
    padding-left: 25px;
    padding-right: 25px;
    a{
        margin-top: 10px;
        color: black;
        font-weight: bold;
        &:hover{
            text-decoration: none;
        }

    }
    p{
        margin-top: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.time{
    float: right;
}

.description{
    background-color: white;
    width: 100%;
    height: 300px;
    display: none;
    padding-top: 30px;
}
.description p{
    margin-top: 20px;
}
.email-time {
    display: flex;
    justify-content: space-between;
    a{
        color:#333333;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}

.active{
    display: block;
}
.visible{
    background-color: #B8F0F5;
    cursor: pointer;
}
@media screen and (max-width: 765px) {
    .title{
        margin-top: 30px;
    }
    .message{
        height: 200px;
        width: 581px;
        p{
            margin-top: 15px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .description-message{
        display: none;
    }
    .users-message{
        max-width: 100%;
    }
}
@media screen and (max-width: 477px){

    .title{
        margin-top: 30px;
    }
    .messages{
        max-width: 100%;
        margin-top: 15px;
    }
    .message{
        height: 166px;
        width: 321px;
        margin-top: 30px;
        p{
            margin-top: 7px;
        }
    }
    .description-message{
        display: none;
    }
    .hidden{
        display: block;
        color:#22B4CE;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
    }
}
@media screen and (max-width: 320px){
    .message{
        height: 186px;
        width: 291px;
        margin-top: 30px;
    }
}


// @media screen and (min-width: 668px){
//     .apartment-img img{
//         width: 100%;
//     }
// }
// @media screen and(max-width: 375px){
//     .apartment-img img{
//         width: 100%;
//     }
//     .home-search{
//         margin-top: 126px;
//     }
// }
// @media screen and(max-width: 360px){
//     .apartment-img img{
//         width: 100%;
//     }
//     .home-search{
//         margin-top: 206px;
//     }
// }
// @media screen and(max-width: 414px){
//     .apartment-img img{
//         width: 100%;
//     }
//     .btn-color{
//         margin-bottom: 25px;
//     }
// }
// /*** IPHONE 5/SE ******/
// @media screen and (max-width: 320px){
//     .home-search{
//         margin-top: 248px;
//         width: 295px;
//     }
//     .home-search input{
//         width: 267px;
//     }
//     .btn-color{
//         margin-bottom: 25px;
//     }
// }
