
.sponsor-wrapper {

    p {
        color: $main_color;
        font-weight: bold;
        margin: 0px;
    }
}

.sponsor-title {

    h1 {
        color: $main_color;
        text-transform: uppercase;
        font-size: clamp( 12px, 1.7rem, 32px);
        font-weight: 700;
    }

    hr {
        border-color: $main_color;
    }
}

.sponsor-price {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;

    & > div {
        margin: 25px 15px 0px; //per il mobile
    }
}

.price button, #payment-submit {
    color: $main_color;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    outline: none;
    border: 1px solid $main_color;
    margin: 7px 0;
    background-color: #fff;
    transition: 300ms;

    &:hover {
        color: #fff;
        background-color: $main_color;
    }
}

.active button {
    background-color: $main_color;
    color: white;
}

.advert-type {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.information-payments {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;

    & > form {
        margin: 0px 15px 0px; //per il mobile
    }
} 

.number-cc {
    width: 311px;
    display: inline-block;
    color: #C9C9C9;
}

.date-and-cvc {
    display: flex;
    justify-content: center;
}

#number-cc {
    border: 1px solid $main_color;

    &::placeholder {
        color: $color_rgba;
    }
}

#date {
    width: 235px;
    border: 1px solid $main_color;

    &::placeholder {
        color: $color_rgba;
    }
}

#cvc {
    margin-left: 20px;
    width: 58px;
    border: 1px solid $main_color;

    &::placeholder {
        color: $color_rgba;
    }
}

#dropin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// .btn-payments {
//     width: 313px;
//     background-color: $main_color;
//     border:none;
//     cursor: pointer;
//     text-transform: uppercase;
//     padding-top: $padding_top_bottom;
//     padding-bottom: $padding_top_bottom;
//     font-weight: bold;
//     color: white;

//     &:hover {

//         background-color: white;
//         color: $main_color;
//         border-color: $main_color;
//         color: $main_color;
//         border-color: $main_color;
//         border: 1px solid $main_color;
//     }

//     &:focus {
//         background-color: $main_color;
//         outline: $outline_button;
//     }
// }

// /*** RESPONSIVE ***/

// @media screen and (max-width: 477px){
//     .sponsor-plane{
//         margin-top: -76px;
//     }
// }
// /*** for iphone 5/SE ***/
// @media screen and (max-width: 320px){
//     .sponsor-title{
//         margin-top: -40px;
//     }
//     .information-payments p{
//         padding-top: 20px;
//     }
// }
