.sponsor-wrapper{
    height: 100vh;
    width: 100%;
    margin-top: 90px;
}
.sponsor-title{
    background-color: white;
    height: 200px;
    width: 100%;
    h1{
        color:$main_color;
        text-transform: uppercase;
        font-size: 32px;
    }
    hr{
        border: 1px solid $main_color;
    }
}

.sponsor-plane{
    background-color: white;
    height: 250px;
    width: 100%;
    p{
        padding-right: 33px;
        padding-top: $padding_top_bottom;
        color: $main_color;
        font-weight: bold;
    }
}
.sponsor-price{
    display: inline-block;
}

.price button{
    color: #22B4CE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 18px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    outline: none;
    border: 1px solid #22B4CE;
}
.active button{
    background-color: #22B4CE;
    color: white;
}
.third button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.second, .third{
    padding-top: 19px;
}

.information-payments{
    background-color: white;
    height: 250px;
    width: 100%;
    p{
        padding-right: 37px;
        padding-top: $padding_top_bottom;
        color: #22B4CE;
        font-weight: bold;
    }
}
.number-cc{
    width: 311px;
    display: inline-block;
    color: #C9C9C9;
}
.date-and-cvc{
    display: flex;
    justify-content: center;
}
#number-cc{
    border: 1px solid $main_color;
    &::placeholder{
        color: $color_rgba;
    }
}

#date{
    width: 235px;
    border: 1px solid $main_color;
    &::placeholder{
        color: $color_rgba;
    }
}

#cvc{
    margin-left: 20px;
    width: 58px;
    border: 1px solid $main_color;
    &::placeholder{
        color: $color_rgba;
    }
}

.btn-payments{
    width: 313px;
    background-color: $main_color;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    padding-top: $padding_top_bottom;
    padding-bottom: $padding_top_bottom;
    font-weight: bold;
    color: white;
    &:hover{
        background-color: white;
        color: $main_color;
        border-color: $main_color;
        color: $main_color;
        border-color: $main_color;
        border: 1px solid $main_color;
    }
    &:focus{
        background-color: $main_color;
        outline: $outline_button;
    }
}
/*** RESPONSIVE ***/

@media screen and (max-width: 477px){
    .sponsor-plane{
        margin-top: -76px;
    }
}
/*** for iphone 5/SE ***/
@media screen and (max-width: 320px){
    .sponsor-title{
        margin-top: -40px;
    }
    .information-payments p{
        padding-top: 20px;
    }
}
